<div class="p-3 d-flex flex-wrap justify-content-center w-100 flex-column">
  <div class="d-flex flex-column align-items-center text-black">
    <div>
      <img
        src="assets/undraw_pic-profile_nr49.svg"
        alt="Your Name"
        class="profile-img"
      />
    </div>
    <div>
      <h1 class="typing-effect text-wrap">
        Hi, I'm <span>BHARATH KOTTURI</span>, you can also call me kotturi
      </h1>
    </div>
    <div><p class="subtitle">Full Stack Developer | Passionate Coder</p></div>
  </div>

  <div class="info-section mt-4 text-black">
    <h2>About Me</h2>
    <p class="mb-1">
      I am a full-stack developer with experience in
      <span class="text-danger fw-bold"
        >Angular, Spring Boot, Node.js, and AWS</span
      >
      . Passionate about building
      <span class="text-danger fw-bold">scalable</span> applications and
      delivering seamless user experiences.
    </p>
    <p class="mb-1">
      Mentoring could be my both weakness and strength, howsoever, doesn't
      matter as long as I am spreading my thoughts and
      <span class="text-danger fw-bold">expanding network</span>... HeHe...!😁😁
    </p>
    <p class="mb-1">
      I believe in
      <span class="text-danger fw-bold">effecient</span> application rather than
      a fancy design.
    </p>
  </div>

  <div class="w-100 mt-4 text-black">
    <div><h2>Skills</h2></div>
    <div class="skills-icons">
      <span class="material-icons text-primary-emphasis">code</span>
      <span class="material-icons text-info-emphasis">storage</span>
      <span class="material-icons text-warning-emphasis">cloud</span>
      <span class="material-icons text-success-emphasis">security</span>
    </div>
  </div>

  <div class="contact-section mt-4 text-black">
    <h2>Contact Me</h2>
    <a href="mailto:kotturi858bharath@gmail.com" class="text-black">
      <span class="material-icons mx-2">play_arrow</span>
      kotturi858bharath&#64;gmail.com
      <span class="material-symbols-outlined mx-2"> open_in_new </span>
    </a>
    <a href="https://github.com/yourgithub" target="_blank">
      <span class="material-icons mx-2">play_arrow</span> GitHub<span
        class="material-symbols-outlined mx-2"
      >
        open_in_new
      </span>
    </a>
    <a href="https://linkedin.com/in/yourprofile" target="_blank">
      <span class="material-icons mx-2">play_arrow</span> LinkedIn<span
        class="material-symbols-outlined mx-2"
      >
        open_in_new
      </span>
    </a>
  </div>
</div>
