<div my-5>
  <cdk-accordion class="example-accordion w-100 z-n1">
    @for (item of items; track item; let index = $index) {
    <cdk-accordion-item
      #accordionItem="cdkAccordionItem"
      class="example-accordion-item"
      [expanded]="item == 'SKILLS'"
    >
      <button
        class="example-accordion-item-header"
        (click)="accordionItem.toggle()"
        tabindex="0"
        [attr.id]="'accordion-header-' + index"
        [attr.aria-expanded]="accordionItem.expanded"
        [attr.aria-controls]="'accordion-body-' + index"
      >
        {{ item }}
      </button>
      @if(accordionItem.expanded) {
      <div
        class="example-accordion-item-body d-flex gap-3 flex-wrap"
        role="region"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + index"
        [attr.aria-labelledby]="'accordion-header-' + index"
      >
      <img src="../../../assets/tech-icons/java-original-wordmark.svg" width="100px" alt="angular-original">
      <img src="../../../assets/tech-icons/javascript-original.svg" width="100px" alt="angular-original">
      <img src="../../../assets/tech-icons/typescript-original.svg" width="100px" alt="angular-original">
      <img src="../../../assets/tech-icons/angular-original.svg" width="100px" alt="angular-original">
      <img src="../../../assets/tech-icons/angular-original.svg" width="100px" alt="angular-original">
      <img src="../../../assets/tech-icons/angular-original.svg" width="100px" alt="angular-original">
      <img src="../../../assets/tech-icons/angular-original.svg" width="100px" alt="angular-original">
      <img src="../../../assets/tech-icons/angular-original.svg" width="100px" alt="angular-original">
      <img src="../../../assets/tech-icons/angular-original.svg" width="100px" alt="angular-original">
      <img src="../../../assets/tech-icons/angular-original.svg" width="100px" alt="angular-original">
      <img src="../../../assets/tech-icons/angular-original.svg" width="100px" alt="angular-original">
      <img src="../../../assets/tech-icons/angular-original.svg" width="100px" alt="angular-original">
      <img src="../../../assets/tech-icons/angular-original.svg" width="100px" alt="angular-original">
      <img src="../../../assets/tech-icons/angular-original.svg" width="100px" alt="angular-original">
      <img src="../../../assets/tech-icons/angular-original.svg" width="100px" alt="angular-original">
      <img src="../../../assets/tech-icons/angular-original.svg" width="100px" alt="angular-original">
      <img src="../../../assets/tech-icons/angular-original.svg" width="100px" alt="angular-original">
      <img src="../../../assets/tech-icons/angular-original.svg" width="100px" alt="angular-original">
      <img src="../../../assets/tech-icons/angular-original.svg" width="100px" alt="angular-original">
      <img src="../../../assets/tech-icons/angular-original.svg" width="100px" alt="angular-original">
    </div>
      }
    </cdk-accordion-item>
    }
  </cdk-accordion>
</div>
