.example-accordion {
  z-index: -1;
}

.example-accordion-item {
  display: block;
  border: solid 1px #ccc;
}

.example-accordion-item-header {
  color: #fef9f3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: none;
  padding: 16px;
  text-align: left;
  backdrop-filter: blur(10px);
  background: none;
}

.example-accordion-item-body {
  padding: 16px;
  backdrop-filter: blur(10px);
}

.example-accordion-item-header:hover {
  cursor: pointer;
}

.section {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.education-item {
  margin-bottom: 2.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #eee;
  color: #fef9f3;
}

.education-item:last-child {
  border-bottom: none;
}

.education-item h3 {
  font-size: 1.5rem;
  font-weight: 600;
  // color: #2d3748;
  margin-bottom: 0.5rem;
}

.education-item h4 {
  font-size: 1.2rem;
  font-weight: 500;
  // color: #4a5568;
  margin-bottom: 0.5rem;
}

.date {
  // color: #666;
  font-style: italic;
  margin-bottom: 1rem;
  font-size: 0.95rem;
}

.achievements {
  list-style-type: disc;
  margin-left: 1.5rem;
  // color: #4a5568;
}

.achievements li {
  margin-bottom: 0.5rem;
  line-height: 1.6;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .education-section {
    padding: 1.5rem 0;
  }

  .education-item h3 {
    font-size: 1.3rem;
  }

  .education-item h4 {
    font-size: 1.1rem;
  }
}
