.example-accordion {
  z-index: -1;
}

.example-accordion-item {
  display: block;
  border: solid 1px #ccc;
}

.example-accordion-item-header {
  color: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: none;
  padding: 16px;
  text-align: left;
  backdrop-filter: blur(10px);
  background: none;
}

.example-accordion-item-body {
  padding: 16px;
  backdrop-filter: blur(10px);
}

.example-accordion-item-header:hover {
  cursor: pointer;
}

.section {
  background: rgba(255, 255, 255, 0.1);
  /* Light background */
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}