<p>bharath</p>
<p>bharath</p>
<div my-5>
  <cdk-accordion class="example-accordion w-100 z-n1">
    @for (item of items; track item; let index = $index) {
    <cdk-accordion-item
      #accordionItem="cdkAccordionItem"
      class="example-accordion-item border border-1 border-light"
      expanded="true"
    >
      <button
        class="example-accordion-item-header"
        tabindex="0"
        [attr.id]="'accordion-header-' + index"
        [attr.aria-expanded]="accordionItem.expanded"
        [attr.aria-controls]="'accordion-body-' + index"
        style="font-family: 'Kaushan Script', serif"
      >
        {{ item }}
      </button>
      @if(accordionItem.expanded && index === 0) {
      <div class="row d-flex justify-content-between flex-wrap mx-3">
        @for(item of extractvalues(); track item; let index1 = $index) {
        <div class="section col-md-4 col-12 my-2">
          <div
            class="px-sm-2"
            style="
              font-family: 'Montserrat Subrayada', serif;
              font-weight: 700;
              font-style: normal;
            "
          >
            {{ item }}
          </div>
          <div
            class="example-accordion-item-body d-flex gap-3 flex-wrap px-2"
            role="region"
            [style.display]="accordionItem.expanded ? '' : 'none'"
            [attr.id]="'accordion-body-' + index"
            [attr.aria-labelledby]="'accordion-header-' + index"
          >
            @for(skill of skillTags[item]; track skill.tooltip; let index2 =
            $index) {
            <div>
              <img
                src="../../../assets/tech-icons/{{ skill.assetDet }}"
                width="50px"
                [alt]="skill.tooltip"
                [matTooltip]="skill.tooltip"
                #tooltip="matTooltip"
              />
              <div
                class="progress mt-2"
                style="height: 6px"
                role="progressbar"
                aria-label="Basic example"
                aria-valuenow="75"
                aria-valuemin="0"
                aria-valuemax="100"
                [matTooltip]="skill.learnedStatus / 10 + '/' + 10"
                #tooltip="matTooltip"
              >
                <div
                  class="progress-bar progress-bar-striped"
                  [ngClass]="getDynamicStyles(skill.learnedStatus)"
                  [style.width.%]="skill.learnedStatus"
                ></div>
              </div>
            </div>
            }
          </div>
        </div>
        }
      </div>
      } @if(accordionItem.expanded && index === 1) {
      <div class="container mt-3">
        <div class="stepper">
          <div class="step" style="backdrop-filter: blur(5px)">
            <div class="circle"></div>
            <h5>Full Stack Developer - Infosys</h5>
            <p class="text-muted mb-2">September 2021 - Present</p>
            <p class="mb-1">
              Working on a migration project from scratch, developing a fully
              functional application for a leading car manufacturing company.
            </p>
            <p class="mb-1">
              Expertise in Angular, Java Spring Boot, and Node.js.
            </p>
            <p class="mb-1">
              Performing functional and unit testing while mentoring my team.
            </p>
          </div>
          <div class="step" style="backdrop-filter: blur(5px)">
            <div class="circle"></div>
            <h5>Apprenticeship - ECIL</h5>
            <p class="text-muted mb-2">June 2017 - November 2017</p>
            <p class="mb-1">
              Contributed to the Continuous Air Monitoring Equipment project,
              focused on detecting radiation in the atmosphere.
            </p>
            <p class="mb-1">
              Designed and structured the circuit using Eagle software, laying
              the groundwork for successful project execution.
            </p>
          </div>
        </div>
      </div>
      } @if(accordionItem.expanded && index === 2) {
      <div class="container mt-3">
        <div class="stepper">
          <div class="step" style="backdrop-filter: blur(5px)">
            <div class="circle"></div>
            <h5>University college of Engineering- Osmania University,</h5>
            <p class="text-muted mb-2">Hyderabad— Bachelor of Engineering</p>
            <p class="mb-1">August 2018 - July 2021</p>
          </div>
          <div class="step" style="backdrop-filter: blur(5px)">
            <div class="circle"></div>
            <h5>Government Institute of Electronics</h5>
            <p class="text-muted mb-2">
              Hyderabad— Diploma in communication Networks
            </p>
            <p class="mb-1">September 2014 - December 2017</p>
          </div>
          <div class="step" style="backdrop-filter: blur(5px)">
            <div class="circle"></div>
            <h5>Sri Sai Public School, ICSE Affiliated</h5>
            <p class="text-muted mb-2">Hyderabad—10th board</p>
            <p class="mb-1">September 2014 - December 2017</p>
          </div>
        </div>
      </div>
      }
    </cdk-accordion-item>
    }
  </cdk-accordion>
</div>
