.navbar {
  position: fixed;
  backdrop-filter: blur(3px);
}

.home {
  background-image: url("../assets/bg-dark.png");
  background-size: contain; /* Ensures the image covers the entire screen */
  background-position: left; /* Centers the image */
  background-repeat: repeat-y; /* Ensures the image doesn't repeat */
  //margin: 0; /* Removes default margin */
  //height: 100vh; /* Makes sure the body takes up the full viewport height */
}
