@import url(../../../styles.scss);

.profile-container {
  text-align: left;
  width: fit-content;
}

.name {
  font-size: 2.2rem;
  color: #6d4ba8; /* Purple color for the name */
  margin: 10px 0;
}
//custom border
.border-corner {
  position: relative;
}

.border-corner::before,
.border-corner::after {
  content: "";
  position: absolute;
  background-color: black;
}

/* Top-left corner border */
.border-corner::before {
  width: 50%;
  height: 2px;
  top: 0;
  left: 0;
}

/* Bottom-right corner border */
.border-corner::after {
  width: 50%;
  height: 2px;
  bottom: 0;
  right: 0;
}
