@import url(../../../styles.scss);

.profile-container {
  text-align: left;
  width: fit-content;
  color: #F5F5F5;
}

.name {
  font-size: 2.2rem;
  color: #6d4ba8;
  margin: 10px 0;
}

.my-class{
  font-size: 10px !important;
}
//custom border
.border-corner {
  position: relative;
}

.border-corner::before,
.border-corner::after {
  content: "";
  position: absolute;
  background-color: #F5F5F5;
}

.border-corner::before {
  width: 50%;
  height: 2px;
  top: 0;
  left: 0;
}

.border-corner::after {
  width: 50%;
  height: 2px;
  bottom: 0;
  right: 0;
}
