.container {
  display: grid;
  grid-template-columns: auto auto auto;
}

img:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card {
  width: auto;
  min-height: 400px;
  border-radius: 30px;
  padding: 0;
}

.card:hover {
  transition: transform 0.1s linear;
  transform: scale(1.02);
  box-shadow: 15px 15px 30px #f8f8ff;
}

@media screen and (max-width: 576px) {
  .small-text {
    font-size: 12px !important;
  }
}