<div
  style="font-family: 'Montserrat Subrayada', serif; color: #f5f5f5"
  class="fs-2 px-4 text-center"
>
  FEATURED PROJECTS
</div>
<p class="text-center" style="color: #f5f5f5">
  Explore my latest works showcasing innovative solutions across various domains
</p>
<div
  class="d-flex flex-lg-row flex-row my-3 py-4 flex-wrap gap-4 justify-content-around"
>
  @for(project of projects; track project.name){
  <div class="max-w-sm rounded-2xl overflow-hidden card">
    <img
      src="../../../assets/{{ project.displayPic }}"
      alt="AI Dashboard"
      class="w-full h-48 object-cover"
      (click)="redirectTo(project.name)"
    />

    <div class="p-4 bg-dark" style="color: #f3f9f3">
      <h3 class="text-xl font-semibold text-capitalize">{{ project.name }}</h3>
      <p class="small-text text-gray-600 fs-6 mt-2" style="color: #f3f9f3">
        {{ project.description }}
      </p>

      <div class="flex flex-wrap mt-3 gap-2" style="color: black">
        @for(tag of project.tags;track tag){
        <span class="px-3 py-1 text-sm bg-gray-200 rounded-full">{{
          tag
        }}</span>
        }
      </div>
    </div>
  </div>

  <!-- <div class="card mx-4 p-3 text-center">
    <div class="d-flex align-items-center py-1 w-auto">
      <div class="px-1">
        <span
          class="bg-danger d-inline-block d-flex align-items-center p-2 rounded-circle"
        ></span>
      </div>
      <div class="px-1">
        <span
          class="bg-warning d-inline-block d-flex align-items-center p-2 rounded-circle"
        ></span>
      </div>
      <div class="px-1">
        <span
          class="bg-success d-inline-block d-flex align-items-center p-2 rounded-circle"
        ></span>
      </div>
    </div>
    <div class="card__content">
      <p
        class="text-start fw-bolder fs-5 mb-1"
        style="
          font-family: 'Montserrat Subrayada', serif;
          font-weight: 700;
          font-style: normal;
        "
      >
        Title : {{ project.name }}
      </p>
      <img
        src="assets/{{ project.displayPic }}"
        [alt]="project.displayPic"
        class="w-100 px-3"
        (click)="redirectTo(project.name)"
        role="button"
        style="max-height: 170px"
      />
      <p
        class="text-start fs-5 mb-1 lh-1 mt-2"
        style="
          font-family: 'Montserrat Subrayada', serif;
          font-weight: 700;
          font-style: normal;
        "
      >
        Description :
      </p>
      <p class="text-start fs-6 fw-normal">{{ project.description }}</p>
      <button
        mat-flat-button
        class="text-black"
        style="background-color: #feb47b"
        (click)="redirectTo(project.name)"
      >
        DEMO
      </button>
    </div>
  </div> -->
  }
</div>
