<div class="d-flex justify-content-center">
  <nav
    class="navbar shadow h-auto d-flex justify-content-center align-items-center border border-1 rounded-pill my-2 z-3"
  >
    <div class="d-flex justify-content-center align-items-center flex-wrap">
      @for (navButton of navButtons; track navButton.icon){
      <a
        class="mx-3 d-flex align-items-center text-decoration-none text-light"
        role="button"
        [matTooltip]="navButton.label"
        #tooltip="matTooltip"
        [href]="navButton.label"
        [class.active]="activeSection === navButton.label"
      >
        <span class="material-symbols-outlined"> {{ navButton.icon }} </span>
      </a>
      }
    </div>
  </nav>
</div>
