<div class="d-flex justify-content-center">
  <nav
    class="navbar shadow h-auto d-flex justify-content-center align-items-center border border-1 rounded-pill my-2 z-3"
  >
    <div class="d-flex justify-content-center align-items-center flex-wrap">
      @for (navButton of navButtons; track navButton.icon){
      <a
        class="uthine mx-3 d-flex align-items-center text-decoration-none"
        role="button"
        [matTooltip]="navButton.tooltip"
        #tooltip="matTooltip"
        [href]="navButton.label"
      >
        <span
          class="material-symbols-outlined"
          [ngStyle]="{
            color: activeSection === navButton.label ? 'red' : 'white'
          }"
        >
          {{ navButton.icon }}
        </span>
      </a>
      }
    </div>
  </nav>
</div>
